.app{
	height: 100vh;
}

header.header{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #751430;
	color: #FFFFFF;
	padding: 20px;
}

nav{
	grid-area: nav;
	background-color: #751430;
}

article{
	grid-area: article;
	display: flex;
	justify-content: center;
	position: relative;
}

article .loading{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 10px;
	background-color: rgba(255, 255, 255, .8);
}

article .error{
	align-self: center;
	justify-self: center;
}

article .error{
	color: #751430;
}

footer{
	grid-area: footer;
	background-color: #F0F0F0;
	box-shadow: 0 -1px 7px 0 #C2C5CDBF;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.template_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_container{
	box-sizing: border-box;
	margin: 0;
	flex: 1 1 auto;
	padding: 10px 0;
}

.convocation_container{
	box-sizing: border-box;
	margin: 0;
	flex: 1 1 auto;
	padding: 10px 0;
}